<?xml version="1.0" encoding="utf-8" ?>
        <!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <variable name="normal" value="${longdate} ${level:uppercase=true:padding=-5} [${threadname:whenEmpty=${threadid}}] ${callsite:className=true:cleanNamesOfAsyncContinuations=true:methodName=true:includeNamespace=false}: ${message}${onexception:${newline}${exception:format=tostring:maxInnerExceptionLevel=1}}"/>
  <variable name="normal-no-callsite" value="${longdate} ${level:uppercase=true:padding=-5} [${threadname:whenEmpty=${threadid}}] ${logger:shortName=true} | ${message}${onexception:${newline}${exception:format=tostring:maxInnerExceptionLevel=1}}"/>
  <variable name="brief" value="${longdate} ${logger:shortName=true} | ${message}${onexception:${newline}${exception:format=tostring:maxInnerExceptionLevel=1}}"/>

  <targets>
    <target
            name="logfile"
            xsi:type="File"
            layout="${normal-no-callsite}"
            fileName="logs/gpio-handler.log"
            archiveFileName="logs/Archive/gpio-handler-${shortdate}.txt"
            maxArchiveFiles="5"
            archiveEvery="Day"
    />
    <target name="colorconsole" xsi:type="ColoredConsole" layout="${normal-no-callsite}">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Cyan" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
      <highlight-word foregroundColor="Green" condition="level == LogLevel.INFO" text="INFO" />
    </target>
  </targets>

</nlog>
